{% load bootstrap4 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/mbase.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Pongezzi</title>

    {% block styles %}
    {% bootstrap_css %}
    {% endblock %}

</head>

<body>
 
    <nav class="navbar">
        <section class="logo-section"><a href="{% url 'feed' %}"><img class="logo" src="/static/favicon.ico"/></a>
          <div></div><p class="logoname">Pongezzi</p>
        </section>
        <form class="search-section" role="search" action="#">
          <input class="input-search" type="search" name="search" placeholder="Search a project"/>
        </form>
        <section class="icons-section"><a href="{% url 'profile' user.id %}">Profile</a></section>
        <section class="icons-section2"><a href="{% url 'login' %}">Logout</a></section>
      </nav>

    {% block content %}

    {%endblock%}

    {% block scripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>