<!-- {% extends 'mbase.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="rounded-circle account-img" src='{{profiles.profile_image.url}}'>
            <h2 class="account-heading">{{profiles.user.username}}</h2>
            <p class="text-secondary">{{profiles.email}}</p>
            <p class="text-dark">{{profiles.bio}}</p>
        </div>
    </div>
</div>

{% endfor %} -->