
  nav{
    background-color: #d29434 !important;;
  }
  
  .navbar .logoname {
    width: 130px;
    margin-bottom: -1px;
    font-family: 'Grand Hotel', cursive;
    font-size: 20px;
  }
 
 .search-section{
     margin-bottom: 70px;
 }

 .pongezzi{
   width:130px;
   height:100px;
   margin-top: -60px;
 }
 .icons-section{
   font-size: 17px;
   margin-bottom: 50px;
 }
 .icons-section a:hover{
  color: black;
}