
  .navbar .logoname {
    width: 130px;
    margin-bottom: -1px;
    font-family: 'Grand Hotel', cursive;
    font-size: 20px;
  }
 
 .search-section{
     margin-bottom: 20px;
 }

 .pongezzi{
   width:130px;
   height:100px;
 }
 .icons-section{
   font-size: 17px;
 }
 .icons-section a:hover{
  color: black;
}