.sad{
    width: 50%;
    height: 50%;
    margin-left: 12em;
    margin-top: 3em;
    opacity: 0.2;
}
.stmnt{
    margin-top: 150px;
    float: left;
    margin-left: 30px;
    font-size: 60px;
    font-weight: bolder;
}
.card{
    margin-top: 30px;
}